body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background: hsl(220, 70%, 30%);
    font-family: 'VT323', monospace;
}

body::-webkit-scrollbar {
    display: none;
}

#game {
    display: flex;
    box-shadow: black 20px 10px 50px;
    border: 5px solid white;
    border-radius: 15px;
    outline: 5px solid #E34234;
}

#game-title {
    display: flex;
    max-width: 27rem;
    margin: 10px;
}

h3 {
    margin: 0;
    margin-bottom: 15px;
}

h4 {
    margin: 0;
    color: #F83B3A;
    font-size: 35px;
    font-weight: bold;
}

#player-info {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 600px;
    color: white;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 36rem;
    height: 5rem;
    margin-top: 2rem;
    border: 5px solid white;
    border-radius: 15px;
    outline: 5px solid #E34234;
    background-color: #EBDF64;
}

#restart-btn {
    cursor: pointer;
    width: 9rem;
    margin: 25px 0 25px 0;
    border: 5px solid white;
    border-radius: 15px;
    outline: 5px solid #E34234;
    background-color: #EBDF64;
    color: #F83B3A;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'VT323', monospace;
}

#restart-btn:hover {
    background-color: #d1c758;
    transform: scale(1.5);
}

#restart-btn:active {
  background-color: #d1c758;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sub-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 33%;
    font-size: 25px;
}
