body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background: hsl(220, 70%, 30%);
    font-family: 'VT323', monospace;
}

body::-webkit-scrollbar {
    display: none;
}

#game {
    display: flex;
    box-shadow: black 20px 10px 50px;
    border: 5px solid white;
    border-radius: 15px;
    outline: 5px solid #E34234;
}

#game-title {
    display: flex;
    max-width: 27rem;
    margin: 10px;
}

h3 {
    margin: 0;
    margin-bottom: 15px;
}

h4 {
    margin: 0;
    color: #F83B3A;
    font-size: 35px;
    font-weight: bold;
}

#player-info {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 600px;
    color: white;
}

#controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    margin: 2rem 0 2rem 0;
    width: 42rem;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 25rem;
    height: 5rem;
    border: 5px solid white;
    border-radius: 15px;
    outline: 5px solid #E34234;
    background-color: #EBDF64;
}

#play-btn {
    cursor: pointer;
    width: 10rem;
    height: 5.57rem;
    border: none;
    background-color: #EBDF64;
    border: 5px solid white;
    border-radius: 15px;
    outline: 5px solid #E34234;
    background-color: #EBDF64;
    color: #F83B3A;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'VT323', monospace;
}

#restart-btn:hover, #continue-btn:hover {
    background-color: #d1c758;
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(180, 214, 255, 0.3);
}

#restart-btn:active {
  background-color: #d1c758;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sub-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
